body {
}

.col-md-4{
    padding-left: 0px;
    padding-right: 0px;
}
.thumbnail{
    width: 100%;
    height: 100%;
    padding: 0px;
}

.noBorder{
    border-style: none;
}

a:hover{
    text-decoration: none;
}

.img-center{
    display: block;
    margin: 0 auto;
}

.full-height{
    background-color: black;

}

.img-min-height{
    min-height: 300px;
    height: 300px;
   
}

.listing-item{
    height: 400px;
    padding: 0px;
}