body {
}

.col-md-4{
    padding-left: 0px;
    padding-right: 0px;
}
.thumbnail{
    width: 100%;
    height: 100%;
    padding: 0px;
	color: #F7F5E6;
	background: rgba(205,205,205,0.3);
}

.noBorder{
    border-style: none;
}

a:hover{
    text-decoration: none;
}

.img-center{
    display: block;
    margin: 0 auto;
}

.full-height{
    background-color: black;

}

.img-min-height{
    min-height: 300px;
    height: 300px;
   
}

.listing-item{
    /*height: 400px;*/
    padding: 0px;

}

.text-center{
	color: #F7F5E6;
}

.text-tan{
	color: #F7F5E6;
}