@model IEnumerable<RealMax.Models.ApplicationUser>

@{
    ViewBag.Title = "ManageUserRolls";
}
<div class="container">

    <h2>ManageUserRolls</h2>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>

                @foreach (var role in user.Roles)
                {
                    @role.RoleId.ToString()
                }
            </td>
        </tr>
    }
    </table>
</div>
